@font-face {
    font-family: 'Vazir';
    src:url('../../assets/fonts/Vazir.eot'),
    url('../../assets/fonts/Vazir.woff') format('woff'),
    url('../../assets/fonts/Vazir.woff2') format('woff2'),
    url('../../assets/fonts/Vazir.ttf') format('ttf');
}

.fontdn {
    font-family: 'Vazir' !important;
}